@charset "utf-8";
.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.m_c {
  color: #018851;
}
.TopBanner {
  background: #018851;
  color: #f9f9f9;
  overflow: hidden;
  transition: 0.4s all;
  height: 155px;
}
.after::after {
  content: "";
  display: block;
  clear: both;
}
.TopBanner .inner {
  padding: 50px 0;
  position: relative;
}
.TopBanner.on {
  height: 0;
}
.TopBanner h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}
.TopBanner h2 span {
  color: #00e085;
  font-weight: 400;
}
.TopBanner p {
  font-size: 15px;
}
.TopBanner .top_close_btn {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 25px;
}
.Header {
  padding: 0 75px;
  background: rgba(0, 0, 0, 0.3);
  line-height: 100px;
  transition: 0.5s all;
}
.Header:hover {
  background: #fff;
  color: #444;
}
.Header h1 {
  float: left;
  font-size: 0;
}
.Header h1 a {
  display: inline-block;
  vertical-align: middle;
  width: 188px;
  height: 22px;
  background: url(../assets/logo_white.png) no-repeat center/cover;
}
.Header:hover h1 a {
  background: url(../assets/logo.png) no-repeat center/cover;
}
.Header .Gnb {
  float: left;
  padding-left: 60px;
}
.Header .Gnb > ul > li {
  /* line-height: 1;
  display: inline-block; */
  float: left;
  padding: 0 35px;
}
.Header .Gnb > ul > li a {
  display: block;
  color: #fff;
  font-size: 19px;
  position: relative;
}
.Header:hover .Gnb > ul > li a {
  color: #444;
}
.Header .Gnb > ul > li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #018851;
  bottom: 0;
  left: 0;
}
.Header:hover .Gnb > ul > li a:hover::after {
  width: 100%;
}
.Header .top_service {
  float: right;
}
section.Section01 .main_slider figure {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  position: relative;
}
.main_slider figure.item01 {
  background: url(../assets/main_visual01.jpg);
}
.main_slider figure.item02 {
  background: url(../assets/main_visual02.jpg);
}
.main_slider figure.item03 {
  background: url(../assets/main_visual03.jpg);
}
.main_slider figure .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
